@model AssetLocater.Domain.Models.SearchTerms
@{
}
<text>
    Processor Page 
    <ul>

        <li>
            @Model.CompanyName
        </li>
        <li>
            @Model.NationalID
        </li>
        <li>
            @Model.FullName
        </li>
    </ul>
    
</text>
